.contact-form input[type="text"], input[type="number"]{
  width:100%;
  box-sizing:border-box;
  border:1px solid black;
  padding:5px;

}
.contact-form input[type="submit"]{
  display:block;
  color:black;
  background-color:white;
  border:1px solid black;
  border-radius:10px;
  margin-top:10px;
  padding:10px;
  cursor:pointer; 
  margin:auto;
  margin-top:20px;
}

body {
  padding: 30px 20%;
}
h1 {
  font-size: 2em;
  text-align: center;
}

.dropdown-menu {
  height: 100px;
  overflow-y: scroll;
}